*{
    margin: 0;
    padding: 0;
    -wibkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* body */

body{
    position: relative;
    background-color: rgb(253, 253, 253);
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}
body.switchMode{
    background-color: #191819;
}
body.switchMode .head_inner nav ul li.switch a::after {
    left: 20px;
}

/* head */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
header{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.header_head{
    position: relative;
    background-color: #191819;
}
.head_inner{
    display: -wibkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.head_inner .logo {
    font-weight: bold;
    font-size: 18px;
    color: #ccc;
}
.head_inner nav ul{
    margin: 0;
    padding: 0;
    display: -wibkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.head_inner nav ul li{
    list-style-type: none;
}
.head_inner nav ul li a{
    font-size: 14px;
    color: #ccc;
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
}
.head_inner nav ul li.switch a{
    position: relative;
    width: 45px;
    height: 24px;
    border: 1px solid ccc;
    border-radius: 10em;
    padding: 0;
    margin-top: 5px;
    overflow: hidden;
}
nav ul li.switch a:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 10em;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    
}
.header_body {
    position:relative;
    width: 100%;
    height: 100%;
    margin-top: 150px;
}
.header_body_inner {
    display: -wibkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header_body_inner .left .title {
    color: #333;
    font-size: 46px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
body.switchMode .header_body_inner .left .title{
    color: #fff;
}
.header_body_inner .left .title span{
    color: #83a1ce;
}
a.btn{
    display: inline-block;
    background-color: #83a1ce;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}
.header_body_inner .right img{
    border-radius: 50%;
}
section{
    position: relative;
    padding: 20px 0;
    width: 100%;
    height: 100vh;
}
.section_title{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
}
.about_text{
    margin-top: 18px;
}
.about_text p{
    font-size: 18px;
    margin-bottom: 25px;
}
body.switchMode .section_title{
    color: #fff;
}
body.switchMode .about_text p{
    color: #fff;
}
.portfolio_items{
    margin-top: 45px;
    display: -wibkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}
.portfolio_items .item{
    display: block;
    position: relative;
    margin: 0 10px 15px 0;
    width: calc(100% / 3- 10px);
    margin-right: 60px;
    margin-left: 30px;
}
.portfolio_items .item:last-child{
    margin-right: 0;
}
.portfolio_items .item img{
    max-width: 100%;
}
footer{
    position: relative;
    padding: 20px 0;
    background-color: #191819;
}
footer p{
    text-align: center;
    color: #ccc;
}